<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoUBLnJWsLve0o9sd0e7j1fqczc8xWR6U</string>
	<key>GCM_SENDER_ID</key>
	<string>291292392730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthcare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>healthcare-28246</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-28246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291292392730:ios:b0d4bd7a07d68372a710a3</string>
</dict>
</plist>